@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --positive: #F7E5C1;
  --negative: #422A3C;
  --light: #422A3C00;
  --primary: #BA7894;
  --secondary: #141414;
  --tertionary: #F8F8F8;
  --blackgrey: #555555;
  --info: #EBF3F538;
  --grey: #555555;
  --purple:#422A3C;
  --violet:#2D1F2D;
 
  --lightblue: #EBF3F580;
  --primarytext: #422A3C;
  --pink:#FBF2E0;
  --darkpink:#BA7894;
  --cream: #F6EBD6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: Playfair Display, serif;
}